body {
    background: #faeaef;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color:#003366;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color:#4d0026;
    text-align: center;
}

dt {
    display: list-item;
    list-style-type: disc;
}

#img {
    height: 500px;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.header {
    font-size: 16px;
    color:#3939ac;
}

.job {
    color: #002266;
    font-weight: bold;
}

.center {
    text-align: center;
}